@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body{
  color: red;
  font-family: 'Merriweather', serif;
  margin: 0px;
}

hr{
  margin: 2rem;
}


